<a href="https://colab.research.google.com/github/NeuralClassifier/OutlierDetect/blob/main/ODRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [2]:
!git clone https://github.com/NeuralClassifier/OutlierDetect

Cloning into 'OutlierDetect'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 10 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [3]:
pd.read_csv('/content/OutlierDetect/Data/ionosphere.csv')

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      g
1           1         0   1.00000  ...   -0.13738   -0.02447      b
2           1         0   1.00000  ...    0.56045   -0.38238      g
3           1         0   1.00000  ...   -0.32382    1.00000      b
4           1         0   1.00000  ...   -0.04608   -0.65697      g
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[351 rows x 35 columns]

In [20]:
class LoadData:

  def __init__(self,datasetFileName):
    if datasetFileName == 'ionosphere.csv':
      self.df = pd.read_csv('/content/OutlierDetect/Data/ionosphere.csv')
      print(self.df.head())


  def encode(self,features):
    if features == 0:
      print('********************* Before ***********************')
      print()
      print(self.df.head())
      print()
      le = LabelEncoder()
      self.df.iloc[:,-1] = le.fit_transform(self.df.iloc[:,-1])
      print('********************* After ***********************')
      print()
      print(self.df.head())
      print()
      return self.df
    
    elif features == 1:
      st = input('All Columns? (Y/N): ')
      if st == 'Y':
        print('********************* Before ***********************')
        print()
        print(self.df.head())
        print()
        print('********************* After ***********************')
        le = LabelEncoder()
        for i in range(self.df.shape[1]):
          self.df.iloc[:,i] = le.fit_transform(self.df.iloc[:,i])
        
        print()
        print(self.df.head())
        print()
        return self.df

      elif st == 'N':
        listToencode = []

        print('********************* Enter the list of features to encode (enter # to end) ***********************')
        print()
        fts = 0
        while fts !='#':
          fts = input()
          listToencode.append(int(fts))

        print('********************* Before ***********************')
        print()
        print(self.df.head())
        print()
        print('********************* After ***********************')
        le = LabelEncoder()
        for i in listToencode:
          self.df.iloc[:,i] = le.fit_transform(self.df.iloc[:,i])
        
        print()
        print(self.df.head())
        print()
        return self.df




      else:
        print('Invalid input ... Try again!!') 
    
    else:
      print('Invalid input ... Try again!!')

In [21]:
ld = LoadData('ionosphere.csv')

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [22]:
df = ld.encode(0)

********************* Before ***********************

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

********************* After ***********************

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      1
1         1         0   1.00000  ...   -0.13738   -0.02447      0
2         1         0   1.00000  ...    0.56045   -0.38238      1
3         1         0   1.00000  ...   -0.32382    1.00000      0
4         1         0   1.00000  ...   -0.04608   -0.65697      1

[5 rows x 35 columns]

In [23]:
df

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      1
1           1         0   1.00000  ...   -0.13738   -0.02447      0
2           1         0   1.00000  ...    0.56045   -0.38238      1
3           1         0   1.00000  ...   -0.32382    1.00000      0
4           1         0   1.00000  ...   -0.04608   -0.65697      1
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      1
347         1         0   0.95113  ...    0.91483    0.04712      1
348         1         0   0.94701  ...    0.92697   -0.00577      1
349         1         0   0.90608  ...    0.87403   -0.16243      1
350         1         0   0.84710  ...    0.85764   -0.06151      1

[351 rows x 35 columns]

In [ ]:
class ODRA:
  def __init__(self,df,k):
    self.data_df = df
    self.data = np.array(self.data_df)
    self.k = k
  
  def nn_1d(self,i,j):
    nearest_neighbors = []
    nearest_neighbors.append(i)
    1d_array = self.data[:,j]
    for cnt in range(len(1d_array)):
      if cnt != i: