<a href="https://colab.research.google.com/github/NeuralClassifier/OutlierDetect/blob/main/ODRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from scipy.spatial import distance
import math

In [15]:
!git clone https://github.com/NeuralClassifier/OutlierDetect

Cloning into 'OutlierDetect'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 23 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (23/23), done.

In [16]:
pd.read_csv('/content/OutlierDetect/Data/ionosphere.csv')

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      g
1           1         0   1.00000  ...   -0.13738   -0.02447      b
2           1         0   1.00000  ...    0.56045   -0.38238      g
3           1         0   1.00000  ...   -0.32382    1.00000      b
4           1         0   1.00000  ...   -0.04608   -0.65697      g
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[351 rows x 35 columns]

In [17]:
class LoadData:

  def __init__(self,datasetFileName):
    if datasetFileName == 'ionosphere.csv':
      self.df = pd.read_csv('/content/OutlierDetect/Data/ionosphere.csv')
      print(self.df.head())


  def encode(self,features):
    if features == 0:
      print('********************* Before ***********************')
      print()
      print(self.df.head())
      print()
      le = LabelEncoder()
      self.df.iloc[:,-1] = le.fit_transform(self.df.iloc[:,-1])
      print('********************* After ***********************')
      print()
      print(self.df.head())
      print()
      return self.df
    
    elif features == 1:
      st = input('All Columns? (Y/N): ')
      if st == 'Y':
        print('********************* Before ***********************')
        print()
        print(self.df.head())
        print()
        print('********************* After ***********************')
        le = LabelEncoder()
        for i in range(self.df.shape[1]):
          self.df.iloc[:,i] = le.fit_transform(self.df.iloc[:,i])
        
        print()
        print(self.df.head())
        print()
        return self.df

      elif st == 'N':
        listToencode = []

        print('********************* Enter the list of features to encode (enter # to end) ***********************')
        print()
        fts = 0
        while fts !='#':
          fts = input()
          listToencode.append(int(fts))

        print('********************* Before ***********************')
        print()
        print(self.df.head())
        print()
        print('********************* After ***********************')
        le = LabelEncoder()
        for i in listToencode:
          self.df.iloc[:,i] = le.fit_transform(self.df.iloc[:,i])
        
        print()
        print(self.df.head())
        print()
        return self.df




      else:
        print('Invalid input ... Try again!!') 
    
    else:
      print('Invalid input ... Try again!!')

In [18]:
ld = LoadData('ionosphere.csv')

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [19]:
df = ld.encode(0)

********************* Before ***********************

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

********************* After ***********************

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      1
1         1         0   1.00000  ...   -0.13738   -0.02447      0
2         1         0   1.00000  ...    0.56045   -0.38238      1
3         1         0   1.00000  ...   -0.32382    1.00000      0
4         1         0   1.00000  ...   -0.04608   -0.65697      1

[5 rows x 35 columns]

In [55]:
df.iloc[5:,:]

     feature1  feature2  feature3  ...  feature33  feature34  label
5           1         0   0.02337  ...   -0.00039    0.12011      0
6           1         0   0.97588  ...   -0.13832   -0.80975      1
7           0         0   0.00000  ...    0.00000    0.00000      0
8           1         0   0.96355  ...    0.38895   -0.73420      1
9           1         0  -0.01864  ...   -0.08208    0.38065      0
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      1
347         1         0   0.95113  ...    0.91483    0.04712      1
348         1         0   0.94701  ...    0.92697   -0.00577      1
349         1         0   0.90608  ...    0.87403   -0.16243      1
350         1         0   0.84710  ...    0.85764   -0.06151      1

[346 rows x 35 columns]

In [84]:
class ODRA:
  def __init__(self,df):
    self.data_df = df
    self.data = np.array(self.data_df.iloc[:,:-1])
    self.y = np.array(self.data_df.iloc[:,-1])
    self.k = len(self.data_df)
    self.sparseMatrix = []
  
  def distance_oneD(self,i,j):
    return math.fabs(i-j)
  
  def nn_1d(self,i,j,oneD_array):
    nearest_neighbors = []
    for cnt in range(len(oneD_array)):
      nearest_neighbors.append((self.distance_oneD(oneD_array[i],oneD_array[cnt]),cnt))
    return nearest_neighbors
  
  def k_plus1_neighbors(self,i,j,oneD_array):
    nearest_neighbors = self.nn_1d(i,j,oneD_array)
    nearest_neighbors = sorted(nearest_neighbors, key=lambda x: x[0])
    return nearest_neighbors[:self.k+1]
  
  def center_nn(self,nn,oneD_array):
    sum = 0
    for i in nn:
      sum += oneD_array[i[1]]
    return float(sum/(self.k+1))
  
  def sparseness_degree(self,i,j):
    oneD_array = self.data[:,j]
    #print(oneD_array)
    kplus1_nn = self.k_plus1_neighbors(i,j,oneD_array)
    c_ij = self.center_nn(kplus1_nn,oneD_array)
    sum = 0
    for cnt in kplus1_nn:
      #print(oneD_array[cnt[1]])
      sum += (oneD_array[cnt[1]] - c_ij)**2
    return float(sum/(self.k+1))
    #return c_ij
  
  def compute_sparseness(self,i):
    sprse = []
    for m in range(self.data.shape[1]):
      sprse.append(self.sparseness_degree(i,m))
    return sprse 

  def construct_sparse_matrix(self):
    for n in range(self.data.shape[0]):
      self.sparseMatrix.append(self.compute_sparseness(n))

In [83]:
od = ODRA(df)
od.construct_sparse_matrix()